.Body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-image: url("https://media.istockphoto.com/photos/diagonal-white-stripes-abstract-geometric-background-seamless-loop-picture-id1309243424?b=1&k=20&m=1309243424&s=170667a&w=0&h=sLL9Hrn-s-3WtFBe33ezuc8HEKA54YO2O72LBa-8Sqk=");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.Container{
  height: 60vh;
  width: 40%;
  margin: auto;
  margin-top: 9.2%;
  border-radius: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.Title{
  color: black;
  padding: 55px 0 25px 0;
}

.Inputs{
  background-color: lightgray;
  margin-bottom: 12px;
  text-align: center;
}
.Button{
  background-color: lightgray;
  color: black;
  width: 20%;
  height: 30px;
  padding: 2px;
  margin-bottom: 30px;

}
.Total{
  margin: auto;
  width: 40%;
  height: 30px;
  border: 3px double #31344b;
  padding: 0.5px;
}